body { 
    background-color: #ffcbdb;
}

input {
    background-color: #FF6EC7;
    border-radius: 4px;
}

button {
    width: 10vw;
    margin-top: 10px;
    background-color: #D8BFD8;
    border-radius: 4px;
}

img {
   position: absolute;
   top: 55%;
}

div {
    text-align: center;
}