*{
    margin: 0;
    margin-top: 5px;
}
body {
    background-color: #bde0fe;
}
input {
    text-align: center;
    background: #a2d2ff;
    border-color: #cdb4db;
    margin-bottom: 10px;
}
button {
    width: 10vw;
    color: #cdb4db;
    background-color: white;
    border-color: #cdb4db;
}
div {
    text-align: center;
}
img {
    width: 28vw;
    position: relative;
    top: 40vh;
}